<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title></ion-title>
    <ion-button href="home">Home</ion-button>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">

  <h1 class="ion-text-center">Login</h1>
  <br/><br/>
  <ion-label>Nombre</ion-label>
  <ion-input fill="outline" placeholder="Nombre" class="ion-border-solid"></ion-input>
  <br/>
  <ion-label>Contraseña</ion-label>
  <ion-input fill="outline" placeholder="Contraseña" class="ion-padding"></ion-input>
  <br/>
  <ion-button expand="block" color="success">Ingresar</ion-button>
</ion-content>
